{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="row my-5">
        <div class="col text-center">
            <h1>Edit a product</h1>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-2 offset-10">
            <a href="{{ path('app_product_index') }}" role="button" class="btn btn-secondary w-100">Back to the list</a>
        </div>
    </div>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
